<!DOCTYPE html>
<html lang="en">
    <head>
    </head>

<%- include('layouts/header'); -%>
    <body style="height: 100%;">
        <%- include('layouts/navbar'); -%>
        <%- include('layouts/category'); -%>
        <hr style="margin:0px; border-color: rgb(212, 54, 54); border-top: none;">
        <div onclick="openCategory('category')" class="category_btn2">
            <i class="fas fa-bars"></i>
            <span style="margin-left: 3px;">카테고리</span>
        </div>
            <div class="big_block" style="height: 100%;">
                <div class="main">
                    <p style="margin-top: 80px; margin-bottom: 0px; height: 100%;"><%= filter_name %> : "<%= searching %>" 검색결과</p>
                    <% if(!lectures.length){ %>
                        <div style="height : 100%; text-align: center; font-size: 50px;margin-top: 100px;">검색결과가 없습니다.</div>
                        <% } %>
                    <div style="display:grid; grid-template-columns: 1fr 1fr">
                        <% for(var i=0; i<lectures.length; i++){ %>
                            <div style="height:190px; display: grid; grid-template-columns: 180px 300px 180px; margin:50px auto;">
                                <a href="detail?lec_num=<%= lectures[i].lec_num %>" target="_blank" style=" text-decoration: none">
                                    <div class="sample search_img" style="background-image: url('/img/<%= lectures[i].college %>.png');"></div>
                                    <div class="sample" style="opacity: 0.3;"></div>
                                    <div class="sample_text"><%= lectures[i].name %></div>
                                </a>
                                <div style="text-align: left;">
                                    <a href="detail?lec_num=<%= lectures[i].lec_num %>" target="_blank" class="search_list_text" style="font-size: 30px; text-decoration: none;"><%= lectures[i].name %></a>
                                    <p class="search_list_text"><%= lectures[i].lec_num %></p>
                                    <br>
                                    <% if(prefessor[i]){ %>
                                        <div class="search_list_text"><%= lectures[i].prefessor %></div>
                                    <% }else{ %>
                                        <div class="search_list_text">상세 참조</div>
                                    <% } %>
        
                                    <div class="search_list_text"><%= lectures[i].college %> / <%= lectures[i].major %></div>
                                    <p class="search_list_text"><%= lectures[i].real_time %></p>
                                </div>
                                <div class="etc" style="margin-top:10px;">
                                    <div>
                                        <div class="price"><%= lectures[i].grades %> <span style="font-size: 30px;">학점</span></div>
                                        <div style="width:100%; margin-top:20px; margin-left: 10px;">
                                            <a href="like/<%= lectures[i].lec_num %>" class="lecture_item"><i class="fas fa-heart header_menu_icon" style="color: rgb(46, 46, 46);"></i></a>
                                            <a href="basket/<%= lectures[i].lec_num %>" class="lecture_item"><i class="fas fa-shopping-bag header_menu_icon"  style="color: rgb(46, 46, 46);"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <ul class="pagination justify-content-center">
                <% if (!page) page=1 %> 
                <!-- 
                    현재 페이지 == page
                    전체 페이지 수 == length
                    temp = 10

                    scale = page / temp 
                        ==> 자리 수 판단
                    
                      * for 문의 시작 포인트 판단 *
                    start = 1 + 10 * scale
                      ex] 6 / 10 = 0
                        ==> 1 + 10 * scale = 1
                      ex] 24 / 10 = 2
                        ==> 1 + 10 * scale = 21
                    
                    end = 10 + 10 * scale 
                    if (length <= end)
                        end = length

                    if (start == 1)
                        '이전' 버튼 비활성화
                    else
                        '이전' 버튼 활성화

                    for (i=start;i<=end;i++){
                        <a> i </a>
                    }

                      * 종료 시점 *
                    if (length == end)
                        '다음' 버튼 비활성화
                    else
                        '다음' 버튼 활성화
                 -->       
                <% if (page % 10 == 0) { %>
                    <% var scale = Math.floor(page / 10) - 1 %> 
                <% } else { %> 
                    <% var scale = Math.floor(page / 10); %>
                <% } %> 
                <% var start = 1 + 10 * scale %> 
                <% var end = 10 + 10 * scale %> 
                <% if (total_length <= end){ %>
                    <% end = total_length %>
                <% } %> 
                <% if (start == 1){ %> 
                    <li class="page-item disabled">
                        <a class="page-link" href="?filter=<%= filter %>&searching=<%= searching %>&page=<%= i %>"> < </a>
                    </li>
                <% } else { %> 
                    <li class="page-item">
                        <a class="page-link" href="?filter=<%= filter %>&searching=<%= searching %>&page=<%= start - 10 %>"> < </a>
                    </li>
                <% } %> 
                <% for (let i = start; i<= end; i++){ %> 
                    <% if (i == page) { %>
                        <li class="page-item active">
                            <a class="page-link " href="?filter=<%= filter %>&searching=<%= searching %>&page=<%= i %>"><%= i %></a>
                        </li>
                    <% } else { %> 
                        <li class="page-item">
                            <a class="page-link" href="?filter=<%= filter %>&searching=<%= searching %>&page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %> 
                <% } %>

                <% if ( total_length == end){ %> 
                    <li class="page-item disabled">
                        <a class="page-link" href="?filter=<%= filter %>&searching=<%= searching %>&page=<%= end %>"> > </a>
                    </li>
                <% } else { %> 
                    <li class="page-item">
                        <a class="page-link" href="?filter=<%= filter %>&searching=<%= searching %>&page=<%= end+1 %>"> > </a>
                    </li>
                <% } %> 
            </ul>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
    

</html>